@model RK_A7.Models.PersonModel
@{
    ViewData["Title"] = "Edit members";
}

<div>
    <h1 class="display-4 text-center">Edit Member</h1>

    <form class="form-horizontal" action="Edit" method="post">
        <div class="form-group">
            <label for="firstName">First Name: </label>
            <input type="text" class="form-control" id="firstName" name="firstName"
                value="@ViewBag.MemberToEdit.FirstName" />
        </div>

        <div class="form-group">
            <label for="lastName">Last Name: </label>
            <input type="text" class="form-control" id="lastName" name="lastName"
                value="@ViewBag.MemberToEdit.LastName" />
        </div>

        <div class="form-group">
            <label for="genders">Gender: </label>
            <select class="form-control" name="genders" id="genders">
                <option value="Male" selected="@ViewBag.MemberToEdit.Gender == 'Male'">Male</option>
                <option value="Female" selected="@ViewBag.MemberToEdit.Gender == 'Female'">Female</option>
            </select>
        </div>

        <div class="form-group">
            <label for="dob">Date Of Birth </label>
            <input type="date" class="form-control" id="dob" name="dob" placeholder="dd/mm/yyyy"
                value="@ViewBag.MemberToEdit.DateOfBirth" />
        </div>

        <div class="form-group">
            <label for="phone">Phone Number: </label>
            <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{10}"
                value="@ViewBag.MemberToEdit.PhoneNumber" />
        </div>

        <div class="form-group">
            <label for="birthPlace">Birth Place: </label>
            <input type="text" class="form-control" id="birthPlace" name="birthPlace"
                value="@ViewBag.MemberToEdit.BirthPlace" />
        </div>

        <div class="form-group">
            <label>Have you graduated? </label>
            <div class="form-check">
                <input type="radio" id="yes" name="graduated" value="Yes"
                    checked="@ViewBag.MemberToEdit.IsGraduated=='Yes'" />
                <label for="yes">Yes</label>
                <input type="radio" id="no" name="graduated" value="No"
                    checked="@ViewBag.MemberToEdit.IsGraduated=='No'" />
                <label for="no">No</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <p>
        @Html.ActionLink("Return to list", "Members")
    </p>
</div>
