@{
    ViewData["Title"] = "Male gender members";
}

<div class="text-center">
    <h1 class="display-4">List of male members</h1>
    @foreach (var person in ViewBag.MalePeople)
    {
        <p>
            Name: @person.FirstName @person.LastName | Gender: @person.Gender | DOB: @person.DateOfBirth | Phone:
            @person.PhoneNumber | Birth Place: @person.BirthPlace | Graduated: @person.IsGraduated
        </p>
    }
</div>
