@{
    ViewData["Title"] = "Members with birth year equal";
}

<div class="text-center">
    @if ((int)@ViewBag.InputYear != 0)
    {
        <h1 class="display-4">List of members with birth year equals @ViewBag.InputYear</h1>
        @if (ViewBag.PeopleWithBirthYearEqual.Count > 0)
        {
            @foreach (var person in ViewBag.PeopleWithBirthYearEqual)
            {
                <p>
                    Name: @person.FirstName @person.LastName | Gender: @person.Gender | DOB: @person.DateOfBirth | Phone:
                    @person.PhoneNumber | Birth Place: @person.BirthPlace | Graduated: @person.IsGraduated
                </p>
            }
        }
        else
        {
            <p>None</p>
        }

        <h1 class="display-4">List of members with birth year greater @ViewBag.InputYear</h1>
        @if (ViewBag.PeopleWithBirthYearGreater.Count > 0)
        {
            @foreach (var person in ViewBag.PeopleWithBirthYearGreater)
            {
                <p>
                    Name: @person.FirstName @person.LastName | Gender: @person.Gender | DOB: @person.DateOfBirth | Phone:
                    @person.PhoneNumber | Birth Place: @person.BirthPlace | Graduated: @person.IsGraduated
                </p>
            }
        }
        else
        {
            <p>None</p>
        }

        <h1 class="display-4">List of members with birth year less @ViewBag.InputYear</h1>
        @if (ViewBag.PeopleWithBirthYearLess.Count > 0)
        {
            @foreach (var person in ViewBag.PeopleWithBirthYearLess)
            {
                <p>
                    Name: @person.FirstName @person.LastName | Gender: @person.Gender | DOB: @person.DateOfBirth | Phone:
                    @person.PhoneNumber | Birth Place: @person.BirthPlace | Graduated: @person.IsGraduated
                </p>
            }
        }
        else
        {
            <p>None</p>
        }
    }
    else
    {
        <h1 class="display-4">Please enter year</h1>
    }
</div>
